h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  letter-spacing: 0.42px;
  font-family: Roboto, sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  padding: 10px 52px;
  background-color: #2196f3;
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  opacity: 0.8;
  cursor: pointer;
}

.hero-studio__button {
  margin: 0 auto;
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .hero-studio__button {
    padding: 10px 32px;
  }
}
.hero-studio__button:hover, .hero-studio__button:focus {
  -webkit-animation: rubberBand 2s;
          animation: rubberBand 2s;
}

.button--font {
  font-family: inherit;
  letter-spacing: 0.96px;
}

.button--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-align: center;
}
.button--flex::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/send_icon.svg);
  display: inline-block;
}

.mail-box__button {
  padding: 10px 28px;
}

.button--shadow {
  -webkit-box-shadow: 0 5px 10px 0 #757575;
          box-shadow: 0 5px 10px 0 #757575;
}

.modal-order__button {
  margin: 30px auto 0;
}

.logo__accent {
  color: #2196f3;
}

.logo {
  margin-right: 93px;
  color: #000;
  font-family: Raleway, serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.footer__logo {
  margin-right: 0;
  text-align: center;
}

.logo--white {
  color: #fff;
}

.work__title,
.team__title,
.clients__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1.08px;
}
@media screen and (min-width: 1200px) {
  .work__title,
  .team__title,
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.main-traits__title,
.work__title,
.team__title,
.hero__project-title {
  color: #212121;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__link--back {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon {
  fill: #fff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #fff;
}

.social-list__icon--grey {
  fill: #afb1b8;
}

.contacts-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover {
  color: #2196f3;
}

.contacts-link--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .contacts-list__item:first-child .contacts-link--flex {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__item:first-child .contacts-link--flex {
    margin-bottom: 0;
  }
}

.contacts-link__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}
.contacts-link:hover .contacts-link__icon, .contacts-link:focus .contacts-link__icon {
  fill: #2196f3;
}

.contacts-link--font {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}

.nav__link {
  display: block;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover {
  color: #2196f3;
}

.nav__link {
  color: #212121;
  position: relative;
  padding: 32px 0;
}

.nav__link--current {
  color: #2196f3;
}
.nav__link--current::after {
  position: absolute;
  display: block;
  content: "";
  width: 105%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  -webkit-transition: border-radius 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav__link--current::after {
    bottom: 0px;
  }
}
.nav__link--current:hover::after {
  -webkit-transform: scale(1.5, 0.7);
      -ms-transform: scale(1.5, 0.7);
          transform: scale(1.5, 0.7);
  border-radius: 7px;
}

.contacts-list {
  display: none;
  margin-left: auto;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mob-menu-open-btn {
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .mob-menu-open-btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.mob-menu-close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: transparent;
  border: none;
  fill: #212121;
}

.mob-menu-close-btn:hover, .mob-menu-close-btn:focus {
  fill: #2196f3;
}

.mob-menu-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 33px;
}

.mob-menu-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
}

.mob-menu-nav__link:hover, .mob-menu-nav__link:focus {
  color: #2196f3;
}

.mob-menu-contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.mob-menu-contacts-link {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-contacts-link:hover, .mob-menu-contacts-link:focus {
  color: #2196f3;
}

.mob-menu-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.mob-menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu.is-hidden {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.hero-studio {
  padding: 118px 0;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg_img.jpg);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .hero-studio {
    padding: 200px 0;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-studio {
    background-image: url("../../images/mob-2x.webp");
  }
}
@media screen and (min-width: 767px) {
  .hero-studio {
    background-image: url("../../images/tab-1x.webp");
  }
}
@media screen and (min-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 767px) and (min-resolution: 2dppx) {
  .hero-studio {
    background-image: url("../../images/tab-2x.webp");
  }
}
@media screen and (min-width: 1199px) {
  .hero-studio {
    background-image: url("../../images/desk-1x.webp");
  }
}
@media screen and (min-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 1199px) and (min-resolution: 2dppx) {
  .hero-studio {
    background-image: url("../../images/desk-2x.webp");
  }
}

.hero-studio__title {
  margin-bottom: 30px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero-studio__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.main-traits {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .main-traits {
    padding: 94px 0;
  }
}

.main-traits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-traits__item {
  -ms-flex-preferred-size: calc((100% - 0px * (1 - 1)) / 1);
      flex-basis: calc((100% - 0px * (1 - 1)) / 1);
}
@media screen and (min-width: 768px) {
  .main-traits__item {
    -ms-flex-preferred-size: calc((100% - 30px * (2 - 1)) / 2);
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .main-traits__item {
    -ms-flex-preferred-size: calc((100% - 30px * (4 - 1)) / 4);
        flex-basis: calc((100% - 30px * (4 - 1)) / 4);
  }
}
.main-traits__item::before {
  content: "";
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.main-traits__item:nth-child(1)::before {
  background-image: url(../images/traits_icon1.svg);
}
.main-traits__item:nth-child(2)::before {
  background-image: url(../images/traits_icon2.svg);
}
.main-traits__item:nth-child(3)::before {
  background-image: url(../images/traits_icon3.svg);
}
.main-traits__item:nth-child(4)::before {
  background-image: url(../images/traits_icon4.svg);
}

.main-traits__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3%;
}
@media screen and (min-width: 768px) {
  .main-traits__title {
    text-align: start;
  }
}

.main-traits__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 3%;
}

.team {
  padding: 60px 0;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__item {
  -ms-flex-preferred-size: calc((100% - 0px * (1 - 1)) / 1);
      flex-basis: calc((100% - 0px * (1 - 1)) / 1);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px * (2 - 1)) / 2);
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px * (4 - 1)) / 4);
        flex-basis: calc((100% - 30px * (4 - 1)) / 4);
  }
}

.team__img {
  width: 100%;
}

.team__box {
  padding: 30px 0;
}

.team__worker {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-align: center;
}

.team__speciality {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  letter-spacing: 0.48px;
  text-align: center;
  color: #757575;
}

.work {
  display: none;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__img-title {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding: 27px 0;
  color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 30px * (2 - 1)) / 2);
      flex-basis: calc((100% - 30px * (2 - 1)) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px * (3 - 1)) / 3);
        flex-basis: calc((100% - 30px * (3 - 1)) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px * (6 - 1)) / 6);
        flex-basis: calc((100% - 30px * (6 - 1)) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0px;
  border: #afb1b8 solid 1px;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}
@media screen and (min-width: 768px) {
  .clients__link {
    padding: 16px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    padding: 16px 0px;
  }
}

.clients__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: #2196f3;
}

.address {
  font-style: normal;
}

.address__map-link:hover {
  color: #2196f3;
}

.address__map-link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer .container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
    gap: 80px;
    text-align: start;
  }
}

.address {
  margin-top: 20px;
}

.address__item:nth-child(n+2) {
  margin-top: 9px;
}

.address__map-link {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
}

.social-box__title {
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
}

.mail-box__title {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.mail-box__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .mail-box__form {
    gap: 12px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.mail-box__input {
  border: rgba(255, 255, 255, 0.3) solid 1px;
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 0 15px 15px;
  width: 100%;
  outline: none;
  color: #fff;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mail-box__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mail-box__input {
    width: 360px;
  }
}
.mail-box__input:focus, .mail-box__input:hover {
  border-color: #757575;
}
.mail-box__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mail-box__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mail-box__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mail-box__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mail-box__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-order {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 450px;
  min-height: 610px;
  padding: 40px;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal-order {
    min-width: 530px;
    min-height: 580px;
  }
}

.backdrop.is-hidden .modal-order {
  -webkit-transform: translate(100%, -50%);
      -ms-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.modal-order__close-btn {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  background-color: transparent;
  right: 8px;
  top: 8px;
}
.modal-order__close-btn:hover, .modal-order__close-btn:focus {
  cursor: pointer;
}

.modal-order__close-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-order__close-btn:hover .modal-order__close-icon, .modal-order__close-btn:focus .modal-order__close-icon {
  fill: #2196f3;
}

.modal-order__title {
  margin-bottom: 12px;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal-order__label {
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-order__label:not(:first-child) {
  margin-top: 10px;
}

.modal-order__input {
  outline: none;
  margin-top: 4px;
  width: 100%;
  padding: 13px 0 13px 28px;
  border: rgba(33, 33, 33, 0.2) solid 1px;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-order__input:focus, .modal-order__input:hover {
  border-color: #2196f3;
}

.modal-order__icon {
  position: absolute;
  left: 12px;
  bottom: 14px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-order__comment {
  outline: none;
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: rgba(33, 33, 33, 0.2) solid 1px;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-order__comment::-webkit-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-order__comment::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-order__comment:-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-order__comment::-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-order__comment::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-order__comment:focus, .modal-order__comment:hover {
  border-color: #2196f3;
}

.modal-order__terms {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-order__terms-input {
  width: 16px;
  height: 15px;
  outline: none;
  position: relative;
  left: 24px;
}

.modal-order__terms-input:focus + .modal-order__custom-terms-input {
  border-color: #2196f3;
}

.modal-order__terms-input:checked + .modal-order__custom-terms-input {
  background-color: #2196f3;
  background-image: url(../images/input-checked.svg);
}

.modal-order__custom-terms-input {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-order__custom-terms-input:hover {
  border-color: #2196f3;
  cursor: pointer;
}

.modal-order__terms-link {
  text-decoration: underline;
  color: #2196f3;
}

.modal-order__input:hover + .modal-order__icon,
.modal-order__input:focus + .modal-order__icon {
  fill: #2196f3;
}

.modal-order__comment:hover::-webkit-input-placeholder, .modal-order__comment:focus::-webkit-input-placeholder {
  color: #2196f3;
}

.modal-order__comment:hover::-moz-placeholder, .modal-order__comment:focus::-moz-placeholder {
  color: #2196f3;
}

.modal-order__comment:hover:-ms-input-placeholder, .modal-order__comment:focus:-ms-input-placeholder {
  color: #2196f3;
}

.modal-order__comment:hover::-ms-input-placeholder, .modal-order__comment:focus::-ms-input-placeholder {
  color: #2196f3;
}

.modal-order__comment:hover::placeholder,
.modal-order__comment:focus::placeholder {
  color: #2196f3;
}

.hero-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-portfolio__sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .hero-portfolio__sort-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 340px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.hero-portfolio__sort-button {
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  color: #212121;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.48px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-portfolio__sort-button:hover, .hero-portfolio__sort-button:focus {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.project-list__item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #eee;
  -ms-flex-preferred-size: calc((100% - 0px * (1 - 1)) / 1);
      flex-basis: calc((100% - 0px * (1 - 1)) / 1);
}
@media screen and (min-width: 768px) {
  .project-list__item {
    -ms-flex-preferred-size: calc((100% - 30px * (2 - 1)) / 2);
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-list__item {
    -ms-flex-preferred-size: calc((100% - 30px * (3 - 1)) / 3);
        flex-basis: calc((100% - 30px * (3 - 1)) / 3);
  }
}
.project-list__item:hover, .project-list__item:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.project-image-box {
  position: relative;
  overflow: hidden;
}

.project-image-box__img {
  width: 100%;
}

.project-image-box__overlay {
  padding: 63px 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 149, 243, 0.9);
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.project-image-box__overlay-info {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
}

.project-list__link:hover .project-image-box__overlay {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.project-list__box {
  padding: 20px 24px;
}

.project-list__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
  color: #212121;
}

.project-list__type {
  line-height: 1.87;
  letter-spacing: 0.48px;
  color: #757575;
}