.clients {
    padding: 94px 0;
}

.clients__list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.clients__link {
    display: flex;
    padding: 16px 32px;
    border: #afb1b8 solid 1px;
    border-radius: 4px;
    @include transition(border-color);
    &:hover,
        &:focus {
            border-color: $accent-color;
        }
}
.clients__icon {
    fill: #afb1b8;
    @include transition(fill);
            .clients__link:hover &,
                .clients__link:focus & {
                    fill: $accent-color;
                }
}
