.hero-studio {
    padding: 118px 0;
    background-image: linear-gradient(to left, #2f303a66, #2f303a66), url(../images/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (min-width:1200px) {
        padding: 200px 0;
    }
}

.hero-studio__title {
    margin-bottom: 30px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    @media screen and (min-width:1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}