.main-traits {
	padding: 60px 0;
	@media screen and (min-width:1200px) {
		padding: 94px 0;
	}
}

.main-traits__list {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	flex-wrap: wrap
}

.main-traits__item {
	@include flex-basis(0px, 1);
	@media screen and (min-width:768px) {
		@include flex-basis(30px, 2)
	}
	@media screen and (min-width:1200px) {
		@include flex-basis(30px, 4);
	}
	&::before {
		content: "";
		width: 100%;
		height: 120px;
		background-color: #f5f4fa;
		border-radius: 4px;
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: 30px;
	}
	@for $i from 1 through 4 {
		&:nth-child(#{$i})::before {
			background-image: url(../images/traits_icon#{$i}.svg);
		}
	}
}
.main-traits__title {
	text-align: center;
	margin-bottom: 10px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 3%;
	@media screen and (min-width:768px) {
		text-align: start;
	}
}

.main-traits__text {
	font-size: 14px;
	line-height: 1.71;
	color: $add-color;
	letter-spacing: 3%;
}
