.main-traits {
	padding: 94px 0;
}

.main-traits__list {
	display: flex;
	gap: 30px;
}

.main-traits__item {
	@include flex-basis(30px, 4);
	&::before {
		content: "";
		width: 270px;
		height: 120px;
		background-color: #f5f4fa;
		border-radius: 4px;
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: 30px;
	}
	@for $i from 1 through 4 {
		&:nth-child(#{$i})::before {
			background-image: url(../images/traits_icon#{$i}.svg);
		}
	}
}
.main-traits__title {
	margin-bottom: 10px;
	font-size: 14px;
	text-transform: uppercase;
}

.main-traits__text {
	font-size: 14px;
	line-height: 1.71;
	color: $add-color;
}
