.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    @include transition(opacity);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal-order {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 450px;
    min-height: 610px;
    @media screen and (min-width:1200px) {
        min-width: 530px;
        min-height: 580px;
    }
    padding: 40px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    @include transition(transform);
}

.backdrop.is-hidden .modal-order {
    transform: translate(100%, -50%);
}

.modal-order__close-btn {
    position: fixed;
    display: flex;
    padding: 10px;
    border-radius: 50%;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    background-color: transparent;
    right: 8px;
    top: 8px;
    &:hover,
        &:focus {
            cursor: pointer;
        }
}
.modal-order__close-icon {
    @include transition(fill);
        .modal-order__close-btn:hover &,
            .modal-order__close-btn:focus & {
                fill: $accent-color;
            }
}
.modal-order__title {
    margin-bottom: 12px;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $main-color;
}

.modal-order__label {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $add-color;
    &:not(:first-child) {
            margin-top: 10px;
        }
}
.modal-order__input {
    outline: none;
    margin-top: 4px;
    width: 100%;
    padding: 13px 0 13px 28px;
    border: rgba(33, 33, 33, 0.2) solid 1px;
    border-radius: 4px;
    @include transition(border-color);
    &:focus,
        &:hover {
            border-color: $accent-color;
        }
}

.modal-order__icon {
    position: absolute;
    left: 12px;
    bottom: 14px;
    @include transition(fill);
}

.modal-order__comment {
    outline: none;
    margin-top: 4px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    border: rgba(33, 33, 33, 0.2) solid 1px;
    border-radius: 4px;
    @include transition(border-color);
    &::placeholder {
            font-size: 12px;
            letter-spacing: 0.01em;
            color: $add-color;
            @include transition(color);
        }
    &:focus,
    &:hover {
        border-color: $accent-color;
    }
}
.modal-order__terms {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $add-color;
}

.modal-order__terms-input {
    width: 16px;
    height: 15px;
    outline: none;
    position: relative;
    left: 24px;
}

.modal-order__terms-input:focus+.modal-order__custom-terms-input {
    border-color: $accent-color;
}

.modal-order__terms-input:checked+.modal-order__custom-terms-input {
    background-color: $accent-color;
    background-image: url(../images/input-checked.svg);
}

.modal-order__custom-terms-input {
    width: 16px;
    height: 15px;
    border: 2px solid $main-color;
    border-radius: 2px;
    @include transition(border-color);
    &:hover {
            border-color: $accent-color;
            cursor: pointer;
        }
}
.modal-order__terms-link {
    text-decoration: underline;
    color: $accent-color;
}
.modal-order__input:hover+.modal-order__icon,
.modal-order__input:focus+.modal-order__icon {
    fill: $accent-color;
}

.modal-order__comment:hover::placeholder,
.modal-order__comment:focus::placeholder {
    color: $accent-color;
}