.team {
    padding: 94px 0;
    background-color: #f5f4fa;
}

.team__list {
    display: flex;
    gap: 30px;
}

.team__item {
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team__box {
    padding: 30px 0;
}

.team__worker {
    color: $main-color;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-align: center;
}

.team__speciality {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 16px;
    letter-spacing: 0.48px;
    text-align: center;
    color: $add-color;
}