.button {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    padding: 10px 52px;
    background-color: $accent-color;
    border-radius: 4px;
    border-color: transparent;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        opacity: 0.8;
        cursor: pointer;
    }
}
.hero-studio__button {
    margin: 0 auto;
    padding: 10px 24px;
    @media screen and (min-width:1440px) {
        padding: 10px 32px;
    }
    &:hover,
        &:focus {
            animation: rubberBand 2s;
        }
}
.button--font {
        font-family: inherit;
         letter-spacing: 0.96px;
}
.button--flex {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    &::after {
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../images/send_icon.svg);
        display: inline-block;
    }
}
.mail-box__button {
    padding: 10px 28px;
}
.button--shadow {
    box-shadow: 0 5px 10px 0 $add-color;
}
.modal-order__button {
    margin: 30px auto 0;
}