.accent-logo {
    color: $accent-color;
}

.logo {
    margin-right: 93px;
    color: #000;
    font-family: Raleway, serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.logo-footer {
    color: #fff;
    margin-right: 0;
}