.work-title,
.team-title,
.clients-title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
}
.main-traits-title,
.work-title,
.team-title,
.hero-project-title {
    color: $main-color;
}