.work__title,
.team__title,
.clients__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
    letter-spacing: 1.08px;
    @media screen and (min-width:1200px) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}
.main-traits__title,
.work__title,
.team__title,
.hero__project-title {
    color: $main-color;
}